.footer {
  background-color: var(--dark-color);
}
.footer__columns {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__contacts {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  line-height: 1.71;
}
.logo--footer {
  color: var(--white-color);
}
