.newsletter {
  margin-left: 78px;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 20px;
}
.newsletter__label {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: calc(0.03 * 14px);
  color: var(--white-color);
  font-weight: 700;
}
.newsletter__submit {
  display: flex;
  gap: 12px;
}
.newsletter__input {
  background-color: var(--dark-color);
  color: var(--grey-transparent-color);
  border: var(--grey-transparent-color) 1px solid;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
}
.newsletter-input::placeholder {
  font-size: 16px;
  letter-spacing: calc(0.03 * 16px);
}
.newsletter__button {
  background-color: var(--blue-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 0;
  text-align: start;
  color: var(--white-color);
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 30px;
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}
.newsletter__icon {
  fill: var(--white-color);
  position: absolute;
  top: 13px;
  left: 148px;
}
